/* === About Section CSS === */
.about-main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 2.5rem;
  background: rgba(249, 249, 249, 0.15);
  width: 90%;
  flex-wrap: wrap;
}

.about-left {
  width: 30%;
  background: white;
  padding: 30px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.about-left h2 {
  font-size: 2rem;
  /* color: #5e17eb; */
  color: #4480b8;
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #4480b8;
  padding: 0.5rem;
}

.tech-stack-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.tech-card {
  position: relative;
  color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.tech-card span {
  position: relative;
  font-size: 1.25rem;
  font-weight: bold;
  z-index: 2;
}

.tech-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.tech-card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* === Sağ taraf: Timeline === */
.about-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}

.vertical-timeline-element--education .vertical-timeline-element-content {
  background: #5e17eb;
  color: white;
  border: none;
}

.vertical-timeline-element--work .vertical-timeline-element-content {
  background: #ff9800;
  color: white;
  border: none;
}

.vertical-timeline-element-content h3,
.vertical-timeline-element-content h4 {
  margin-bottom: 10px;
}

.vertical-timeline-element-content p {
  margin: 0;
  font-size: 1rem;
}

.vertical-timeline-element-date {
  font-size: 0.85rem;
  /* color: #333; */
  color: white;
}

/* === Sağ Alt Kısım: Güncel İlgi Alanları === */
.current-interests {
  background: white;
  padding: 20px 30px;
  margin-top: 20px;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.current-interests h2 {
  font-size: 1.8rem;
  /* color: #5e17eb; */
  color: #4480b8;
  border-bottom: 1px solid #4480b8;
  padding: 0.5rem 0;
  margin-bottom: 15px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.current-interests ul {
  list-style-type: disc;
  padding-left: 20px;
}

.current-interests li {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

/* === Mobil Uyumluluk === */
@media (max-width: 768px) {
  .about-main {
    flex-direction: column;
    align-items: center;
  }

  .about-left,
  .about-right {
    width: 90%;
  }

  .current-interests {
    width: 90%;
  }
}
