.contact-container-light {
  width: 85%;
  min-height: calc(100vh - 128px - 1.5rem);
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  background: rgba(249, 249, 249, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    width: 95%;
    padding: 20px;
    flex-direction: column;
  }

  .contact-links {
    width: 35%;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 2rem;
      color: #4480b8;
      margin-bottom: 20px;
      border-bottom: 1px solid #4480b8;
      padding-bottom: 1rem;
      word-wrap: break-word;
      hyphens: auto;

      @media (max-width: 768px) {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
        margin-bottom: 15px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 35px;
      display: flex;
      flex-direction: column;
      row-gap: 15px;

      @media (max-width: 768px) {
        margin-top: 20px;
        row-gap: 10px;
      }

      li {
        margin-bottom: 20px;

        @media (max-width: 768px) {
          margin-bottom: 10px;
        }
      }

      a {
        text-decoration: none;
        font-size: 1.32rem;
        display: flex;
        align-items: center;
        transition: color 0.3s ease-in-out;
        word-break: break-all;

        @media (max-width: 768px) {
          font-size: 1.1rem;
        }

        svg {
          margin-right: 12px;
          font-size: 1.5rem;
          flex-shrink: 0;

          @media (max-width: 768px) {
            font-size: 1.2rem;
            margin-right: 8px;
          }
        }
      }
    }
  }

  .contact-form {
    width: 60%;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
      width: 100%;
      padding: 20px;
    }

    h2 {
      font-size: 2rem;
      color: #4480b8;
      margin-bottom: 20px;
      border-bottom: 1px solid #4480b8;
      padding-bottom: 1rem;
      word-wrap: break-word;
      hyphens: auto;

      @media (max-width: 768px) {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
        margin-bottom: 15px;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      input,
      textarea {
        margin-bottom: 20px;
        padding: 12px;
        font-size: 1.2rem;
        border: 1px solid #ccc;
        border-radius: 8px;

        @media (max-width: 768px) {
          font-size: 1rem;
          padding: 10px;
          margin-bottom: 15px;
        }
      }

      button {
        padding: 12px 25px;
        font-size: 1.2rem;
        color: white;
        background-color: #4480b8;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        @media (max-width: 768px) {
          font-size: 1rem;
          padding: 10px 20px;
        }

        &:hover {
          background-color: #0d508f;
        }
      }
    }
  }
}

.contact-container-dark {
  width: 85%;
  min-height: calc(100vh - 128px - 1.5rem);
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  //   background: rgba(249, 249, 249, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    width: 95%;
    padding: 20px;
    flex-direction: column;
  }

  .contact-links {
    width: 35%;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 2rem;
      color: #4480b8;
      margin-bottom: 20px;
      border-bottom: 1px solid #4480b8;
      padding-bottom: 1rem;
      word-wrap: break-word;
      hyphens: auto;

      @media (max-width: 768px) {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
        margin-bottom: 15px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 35px;
      display: flex;
      flex-direction: column;
      row-gap: 15px;

      @media (max-width: 768px) {
        margin-top: 20px;
        row-gap: 10px;
      }

      li {
        margin-bottom: 20px;

        @media (max-width: 768px) {
          margin-bottom: 10px;
        }
      }

      a {
        text-decoration: none;
        font-size: 1.32rem;
        display: flex;
        align-items: center;
        transition: color 0.3s ease-in-out;
        word-break: break-all;

        @media (max-width: 768px) {
          font-size: 1.1rem;
        }

        svg {
          margin-right: 12px;
          font-size: 1.5rem;
          flex-shrink: 0;

          @media (max-width: 768px) {
            font-size: 1.2rem;
            margin-right: 8px;
          }
        }
      }
    }
  }

  .contact-form {
    width: 60%;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
      width: 100%;
      padding: 20px;
    }

    h2 {
      font-size: 2rem;
      color: #4480b8;
      margin-bottom: 20px;
      border-bottom: 1px solid #4480b8;
      padding-bottom: 1rem;
      word-wrap: break-word;
      hyphens: auto;

      @media (max-width: 768px) {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
        margin-bottom: 15px;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      input,
      textarea {
        margin-bottom: 20px;
        padding: 12px;
        font-size: 1.2rem;
        border: 1px solid #ccc;
        border-radius: 8px;

        @media (max-width: 768px) {
          font-size: 1rem;
          padding: 10px;
          margin-bottom: 15px;
        }
      }

      button {
        padding: 12px 25px;
        font-size: 1.2rem;
        color: white;
        background-color: #4480b8;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        @media (max-width: 768px) {
          font-size: 1rem;
          padding: 10px 20px;
        }

        &:hover {
          background-color: #0d508f;
        }
      }
    }
  }
}

.contact-container-light {
  background: rgba(249, 249, 249, 0.25);

  .contact-links {
    background: #ffffff;

    a {
      color: #333;
    }
  }

  .contact-form {
    background: #ffffff;
  }
}

.contact-container-dark {
  background: transparent;

  .contact-links {
    background: rgba(249, 249, 249, 0.1);

    a {
      color: rgba(255, 255, 255, 0.85);
    }
  }

  .contact-form {
    background: rgba(249, 249, 249, 0.1);
  }
}
