/* === Header Düzeni === */
.header-main {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 999;

  /* Renk ve arka plan */
  background: radial-gradient(
    at top left,
    rgb(146, 43, 225) 0%,
    rgb(43, 9, 107) 100%
  );
  border-radius: 0 0 30px 30px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

/* === Logo === */
.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header-logo img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

/* === Link Grupları === */
.header-links {
  display: flex;
  gap: 50px;
}

.header-left {
  justify-content: flex-start;
}

.header-right {
  justify-content: flex-end;
}

/* === Linkler === */
.header-main a {
  text-decoration: none;
  color: white;
  font-size: 1.15rem;
  font-weight: bold;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.header-main a:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.9);
}

/* === Dil Seçimi === */
.language-switcher {
  position: absolute;
  bottom: -40px; /* Header'ın hemen altında görünür */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  background-color: #dfddddcc;
  border-radius: 14px;
}

.language-switcher button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.language-switcher button:hover {
  background: white;
  color: rgb(146, 43, 225);
}

.language-switcher button.active {
  background: white;
  color: rgb(43, 9, 107);
}
