* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-main {
  height: 120px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100vw;
  /* background: #ae39c6db; */
  /* background: linear-gradient(to right, #8e44ad, #3498db); */
  /* background-color: #6c5ce7; */
  /* background: linear-gradient(to right, #5b5eff, #a29bfe); */
  background-color: #4b0082;
}

/*! 3 ANA KISIM SOL ORTA SAĞ */

.header-left {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-mid {
  flex: 0 0 20%;
  text-align: center;
}
/* Resim boyutu */
.header-mid img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
}

.header-right {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*! SOL PARÇA İÇİ  */

.header-left-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  padding: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.66);
}

.header-left-top-left {
  flex: 0 0 30%;
  text-align: center;
}

.header-left-top-right {
  flex: 0 0 30%;
  text-align: center;
}

.header-left-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  padding: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.66);
}

/*! SAĞ PARÇA İÇİ */

.header-right-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  padding: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.66);
}

.header-right-top-left {
  flex: 0 0 30%;
  text-align: center;
}

.header-right-top-right {
  flex: 0 0 30%;
  text-align: center;
}

.header-right-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  padding: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.66);
}
