.hero-main {
  width: 100%;
  height: calc(100vh - 120px);
  background-color: red;
  display: flex;
}

.hero-left {
  width: 25%;
  height: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-left-card {
  width: 80%;
  height: 80%;
  background-color: green;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
}

.hero-left-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  max-width: 280px;
  max-height: 280px;
}

.hero-right {
  width: 75%;
  height: 100%;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right-container {
  width: 90%;
  height: 90%;
  background-color: green;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.grid-item-3-0,
.grid-item-3-1,
.grid-item-3-2 {
  border-bottom: 3px solid black;
}

.grid-item-3-3,
.grid-item-2-3 {
  border-left: 3px solid black;
}

.grid-item-2-3,
.grid-item-2-4 {
  border-top: 3px solid black;
}

/* Örnek olarak bazı grid hücrelerini hedefleme */
/* .grid-item-1-3,
.grid-item-1-4,
.grid-item-1-5 {
  border-bottom: 4px solid black;
}

.grid-item-3-1,
.grid-item-3-2,
.grid-item-3-3 {
  border-bottom: 4px solid black;
} */

/* Harita örneği için */
/* .grid-item-1-6,
.grid-item-1-7 {
  position: relative;
  background-color: #87ceeb;
  cursor: pointer;
  transition: all 0.3s ease;
}

.grid-item-1-6::before {
  content: "Düzenlenebilir harita";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  text-decoration: none;
  cursor: pointer;
  color: white;
  white-space: nowrap;
  width: 200%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #87ceeb;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.grid-item-1-6:hover,
.grid-item-1-7:hover {
  background-color: #4682b4;
  transform: scale(1.05);
}

.grid-item-1-6:hover::before {
  background-color: #4682b4;
  transform: translate(-100%, -50%) scale(1.05);
} */
