.hero-main {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  background-color: #f2f2f2;
}

.hero-left {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-left-card {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.hero-left-card-top {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-left-card-bottom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  row-gap: 6px;
}
.hero-left-card-bottom p {
  margin-left: 10px;
  margin-top: 10px;
  background-color: red;
}

.hero-left-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  max-width: 280px;
  max-height: 280px;
}

.hero-right {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: red; */
}

.hero-right-section {
  width: 90%;
  height: 45%;
  /* background-color: blue; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-evenly;
  padding: 12px;
}

.hero-right-section-empty {
  background-color: green;
  width: 90%;
  height: 45%;
}

/* ! DENEME */

/* İkonların varsayılan boyutu ve animasyon ayarları */
.hero-right-section svg {
  color: #333; /* Varsayılan renk */
  font-size: 6rem; /* Büyük ikon boyutu */
  transition: all 0.3s ease-in-out;
}

/* Hover efekti - LinkedIn */
.hero-right-section svg:hover:nth-of-type(1) {
  color: #0077b5; /* LinkedIn Mavi */
  transform: scale(1.1); /* Hafif büyüme efekti */
}

/* Hover efekti - GitHub */
.hero-right-section svg:hover:nth-of-type(2) {
  color: #6e5494; /* GitHub Mor (marka rengi) */
  transform: scale(1.1);
}

/* Hover efekti - Medium */
.hero-right-section svg:hover:nth-of-type(3) {
  color: #00ab6c; /* Medium Yeşil */
  transform: scale(1.1);
}

.hero-right-section svg {
  color: #333; /* Varsayılan renk */
  font-size: 6rem; /* Büyük ikon boyutu */
  transition: all 0.3s ease-in-out;
}

/* Hover efekti - Dosya ikonu */
.hero-right-section svg:hover:nth-of-type(4) {
  color: #3498db; /* Dosya ikonu için mavi renk */
  transform: scale(1.1);
}
