@font-face {
  font-family: "Merriweather";
  src: url("/fonts/MerriweatherSans/MerriweatherSans-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.layout-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  row-gap: 20px;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.light {
  background: {
    image: url("../assets/img/bgLight.webp");
    size: cover;
    position: center;
    repeat: no-repeat;
    attachment: fixed;
  }
}

.dark {
  background: {
    image: url("../assets/img/bgDark2.webp");
    size: cover;
    position: center;
    repeat: no-repeat;
    attachment: fixed;
  }
}
