@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.layout-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  row-gap: 20px;
  width: 100%;
  font-family: "Merriweather", sans-serif;
}

.light {
  background-image: url("./img/bgLight.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dark {
  background-image: url("./img/bgDark2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
